*{
    font-family:  "Pixelify Sans", sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
    margin-top: 5%;
    display: flex;
}
#EnemyContainer{
    justify-content: end;
}
#AllyContainer{
    justify-content: start;
}

.PokeInfo{
    position: absolute;
    background-color: #E6E3C3;
}
#EnemyInfo{
    width: 35vh;
    height: 14vh;
    left: 10vw;
    top: 5%;
}
#AllyInfo{
    width: 20vh;
    height: 10vh;
    top: 5%;
    right: 15vw;
}

#EnemySprite{
    width: 28vh;
    z-index: 2;
}
#AllySprite{
    width: 33vh;
    z-index: 2;
}


#UserControl{
    position: absolute;
    background-color: #E6E3C3;
    width: 100%;
    height: 13vh;
    bottom: 0%;
    left: 0%;
}

@media screen and (min-width: 1000px){
    #EnemySprite{
        margin-right: 30vw;
    }

    #AllySprite{
        margin-left: 30vw;
    }

    #EnemyLifeBar{
        margin-left: 25vw;
    }
    
    #AllyLifeBar{
        margin-right: 25vw;
    }
}