*{
    font-family:  "Pixelify Sans", sans-serif;
}
#EnemyContainer{
    position: relative;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: end;
    background-color: red;
}
#EnemyLifeBar{
    width: 20vh;
    height: 10vh;
    position: absolute;
    left: 10%;
    top: 5%;
    background-color: #E6E3C3;
}
#EnemySprite{
    width: 27vh;
}

#AllyContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    background-color: red;
    margin-top: 5%;
}
#AllySprite{
    width: 33vh;
}

@media screen and (min-width: 1000px){
    #EnemySprite{
        margin-right: 10vw;
    }

    #AllySprite{
        margin-left: 10vw;
    }
}